body {
  background: hsla(217, 100%, 50%, 1);

  background: linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
}
button {
  border: 0;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: hsl(207, 90%, 14%);
  color: hsl(207, 25%, 95%);
}
.container {
  max-width: 768px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
.number {
  font-size: 10em;
  color: hsl(246, 70%, 22%);
  padding: 0.5em 0.5em;
  display: flex;
  justify-content: center;
  border-radius: 10em;
}
#increaseButton,
#decreaseButton,
#resetButton {
  margin-left: 1em;
  margin-bottom: 2em;
  padding: 1em 1em;
  border-radius: 10em;
  width: 30em;
}
